---
import NoteIcon from "@/icons/note.astro";
import AppointmentIcon from "@/icons/schedule.astro";

const { id, type, slug, text, date, createdAt, place } = Astro.props as Entry;
---

<a href=`/entries/${id}` class="w-full">
  <article
    class="flex justify-between items-center my-1 mx-8 px-2 py-1
    hover:scale-[1.01] transition-transform duration-75 bg-primary
    rounded-lg peer"
  >
    <div class="flex items-center gap-1">
      <info class="flex flex-col items-center">
        {type === entryTypes.note && <NoteIcon class="size-6"/>}
        {type === entryTypes.appointment && <AppointmentIcon class="size-6"/>}
        <span class="text-xs">{createdAt}</span>
      </info>
      <h2 class="text-xl font-bold ms-1">{slug}</h2>
    </div>
  </article>
  <description
    class="peer-hover:h-10 flex h-0
      overflow-hidden mx-8 px-2 z-10
      rounded-b-lg bg-secondary
      items-center justify-center
      transition-all duration-200"
  >
    <p class="text-white">
      {type === entryTypes.note && text}
      {type === entryTypes.appointment && `${date} en ${place}`}
    </p>
  </description>
</a>
