---
const { label, name, type = 'text', placeholder = '', value, rows } = Astro.props
---

{
	label && (
		<label
			class="text-primary"
			for={name}
		>
			{label}:
		</label>
	)
}
{
	type === 'textarea' ? (
		<textarea
			class={`outline-none  bg-transparent resize-none placeholder-disabled ${Astro.props.class}`}
			id={name}
			name={name}
			placeholder={placeholder}
			rows={rows || '1'}
			style="field-sizing: content"
		>{value}</textarea>
	) : (
		<input
			class={`outline-none  bg-transparent placeholder-disabled ${Astro.props.class}`}
			type={type}
			placeholder={placeholder}
			id={name}
			name={name}
			value={value}
		/>
	)
}
