---
const { label, name, type, placeholder, value, rows } = Astro.props
---

{
	label && (
		<label
			class="text-primary"
			for={name}
		>
			{label}:
		</label>
	)
}
{
	type === 'textarea' ? (
		<textarea
			class={`outline-none  bg-transparent resize-none ${Astro.props.class}`}
			style="field-sizing: content"
			placeholder={placeholder}
			id={name}
			name={name}
			rows={rows || '1'}
			value={value}
		/>
	) : (
		<input
			class={`outline-none  bg-transparent ${Astro.props.class}`}
			type={type || 'text'}
			placeholder={placeholder || ''}
			id={name}
			name={name}
			value={value}
		/>
	)
}
