---
import { getEntry } from "@/data/entries";
import { toPascal } from "@/utils/string";
import {toLocal} from '@/utils/date'
import Layout from "@/layouts/Layout.astro";
import Details from "@/layouts/Details.astro";

const { id } = Astro.params;
if (!id) return; // maybe an empty skeleton
const entry = getEntry(id);
if (!entry) return; // maybe a 404 page
const { slug, text, type, createdAt } = entry;
---

<Layout title={toPascal(type)}>
  <Details id={id}>
    <main class="border border-white pt-2 w-full flex flex-col px-8">
      <h1 class="border border-yellow-300 text-accent text-3xl peer w-max p-2 cursor-pointer">
        {slug}
      </h1>
      <p class="text-secondary">{toLocal(createdAt)}</p>
      <p class="border-l-8 border-slate-600 text-primary text-balance pl-2 mt-6 text-lg">
        {text}
      </p>
      <div class="border border-amber-700">
        <!-- TODO: check for sate (text, list) -->
        <p class="text-primary text-lg">This is a text entry</p>
        
      </div>
    </main>
  </Details>
</Layout>