---
import ActionBar from '@/sections/ActionBar/index.astro'
// import SideBar from '@/components/SideBar.astro'
import BottomBar from '@/components/BottomBar.astro'
import { ViewTransitions } from 'astro:transitions'

// import { getSession } from 'auth-astro/server'

// const session = await getSession(Astro.request)

interface Props {
	title: string
	actions?: string[]
	back?: boolean
	backAction?: string
	bottomBar?: boolean
}

// const user = session?.user

const {
	title,
	actions: actions,
	backAction,
	bottomBar = false,
	back,
} = Astro.props
---

<!doctype html>
<html
	lang="es"
	class="bg-background box-border font-sans"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Astro description"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="flex justify-center min-h-svh box-border">
		<div class="relative w-screen max-w-5xl flex flex-col items-center">
			<ActionBar
				back={back}
				backAction={backAction}
				actions={actions}
			/>
			<!-- <SideBar user={user} /> -->
			<slot />
			{bottomBar && <BottomBar />}
		</div>
	</body>
</html>
